<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}{% endblock %} - Super Ancient Sand</title>
</head>

<body>

<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">

 {% if 'firstQuestion' in session %}
   First Answer: {{ session['firstQuestion'] }}<br>
 {% endif %}

 {% if 'secondQuestion' in session %}
   Second Answer: {{ session['secondQuestion'] }}<br>
 {% endif %}

 {% if 'thirdQuestion' in session %}
   Third Answer: {{ session['thirdQuestion'] }}<br>
 {% endif %}

 <a href="/startOver">Start over</a>

</div>

</body>

</html>
